@charset "UFT-8";
@font-face {
    font-family: pixel;
    src: url("fontes/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

*{  
    font-family:"pixel";
    padding: 0%;
    margin: 0%;
}
:root{
    --corback:#2a2828;
    --corsombra:#0000008a;
    --cordestaque1:#2B96D9;
    --cordestaque2:#EB9217;
    --cordestaque3:#EB4647;
    --cordestaque4:#23EB5B;
    --cordestaque5:#2FEBCE;
}
body{
    background-color: var(--corback);

}
header{
    background-color: #2febcf40;
    backdrop-filter: blur(10px);
    height: 60px;
    border-bottom: 1px solid var(--cordestaque5);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    position: fixed;
    margin-top: -195px;


}
header > #inicio{
   color: var(--cordestaque1) ;
   text-shadow: 2px 2px 2px var(--corsombra);
   display: inline-block;



    
}
header > nav{
    text-align: right;
    max-width: 1000px;
    margin: auto;


}
nav li{
    display: inline-block;
}
nav a{
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px var(--corsombra);
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.5s;
}
nav a:hover{
    background-color: var(--cordestaque5);
    color: black;
    text-shadow:none;
    border-radius: 5px; 
}



main{
    margin: 150px 130px;
    max-width: 1100px;
    min-width: 320px;
    margin: auto;
    
}
#princ{
    color: white;
    text-shadow: 3px 3px 3px var(--corsombra);
    padding-left: 10px;
}
#princ #sou{
    margin-top: 190px;
    font-size: 3em;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
#nome{
    color: var(--cordestaque1);
    font-size: 5em;
    text-shadow: 4px 4px 4px var(--corsombra);
    padding: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    min-width: 320px;
}
#front{
    font-size: 3em;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;

}
#princ a{
    text-decoration: none;
}

#princ li{
    display: inline;
}
#in{
    width: 100px;
    margin-top: 30px;
    margin-left: 250px;
    margin-inline-start: 80px;
}
#git{
    width: 60px;
    margin-left: 100px;
    


}
#projetos{
    text-align: center;
}
#projetos h2{
    color: var(--cordestaque2);
    font-size: 4em;
    margin-top: 300px;
    margin-bottom: 70px;
    text-shadow: 2px 2px 2px var(--corsombra);
}

#fotos img{
    width: 220px;
    border: 2px solid var(--cordestaque2);
    padding: 5px;
    box-shadow: 3px 3px 3px var(--corsombra);
    margin:25px;
}
#fotos img:hover{
    width: 300px;
    margin: -15px;
    padding: 5px;
    transition-duration: 0.5s;
}



#xp h2{
    margin-top: 300px;
    font-size: 4em;
    text-align: center;
    color: var(--cordestaque3);
    text-shadow: 2px 2px 2px var(--corsombra);
    margin-bottom: 40px;
}
#xp img{
    
    width: 80px;
    box-shadow: 3px 3px 3px var(--corsombra);
    background-color: #201e1e;
    height: 80px;
 
}

#xp ul{
    columns: 2;
    list-style-type: none;
    
}
.hab{
    display: inline-block;
    border: 3px solid var(--cordestaque3);
    box-shadow: 2px 2px 2px var(--corsombra);
    margin-top: 5px;

 
    
    
}


.moeda{


    border: 3px solid var(--cordestaque3);
    display: inline;
    border: none;
    height: 50px;
    
    
}














article{
    color: white;
    font-size: 1em;
    text-align: justify;
    margin-top: 300px;
}
article h2{
    text-shadow: 3px 3px 3px var(--corsombra);
    color: var(--cordestaque4);
    font-size: 3.5em;
    margin-top: 100px;


}
article p{
    text-indent: 30px;
    text-shadow: 1px 1px 2px var(--corsombra);
    max-width: 500px;
    font-weight: 500px;
    line-height: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    

}
article strong{
    text-decoration: underline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
article img{

    border: 2px solid var(--cordestaque4);
    outline: 1px solid white;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    margin-left: 35px;

    


    
}



footer{
    background-color: black;
    color:white;
    text-align: right;
    margin-top: 100px;
    font-size: 0.6em;
    padding-bottom: 20px;
    padding-left: 10px; 
    width: 100%;
    
}
footer h1{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
}