@charset "UFT-8";
@font-face {
    font-family: pixel;
    src: url("fontes/VCR_OSD_MONO_1.001.ttf") format("truetype");
}

*{  
    font-family:"pixel";
    padding: 0%;
    margin: 0%;
}
:root{
    --corback:#2a2828;
    --corsombra:#0000008a;
    --cordestaque1:#2B96D9;
    --cordestaque2:#EB9217;
    --cordestaque3:#EB4647;
    --cordestaque4:#23EB5B;
    --cordestaque5:#2FEBCE;
}
body{
    background-color: var(--corback);

}
header{
    background-color: var(--corback);
    height: 75px;
    border-bottom: 1px solid var(--cordestaque5);

}
header > #inicio{
   color: var(--cordestaque1) ;
   text-shadow: 2px 2px 2px var(--corsombra);
   position: absolute;
   left: 120px;
   top: 20px;
    
}
header > nav{
    position: absolute;
    right: 120px;
    top: 26px
}
nav li{
    display: inline;
}
nav a{
    color: white;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px var(--corsombra);
    text-decoration: none;
    padding-left: 50px;
}
main{
    margin: 150px 130px;
    max-width: 1100px;
    min-width: 320px;
    margin: auto;
    
}
#princ{
    color: white;
    text-shadow: 3px 3px 3px var(--corsombra);
}
#princ #sou{
    margin-top: 190px;
    font-size: 3em;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
#nome{
    color: var(--cordestaque1);
    font-size: 5em;
    text-shadow: 4px 4px 4px var(--corsombra);
    padding: 10px 25px;
    font-family: Arial, Helvetica, sans-serif;
}
#front{
    font-size: 3em;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;

}
#princ a{
    text-decoration: none;
}

#princ li{
    display: inline;
}
#in{
    width: 100px;
    margin-top: 30px;
    margin-left: 250px;
}
#git{
    width: 60px;
    margin-left: 100px;
    


}
#projetos{
    text-align: center;
}
#projetos h2{
    font-family: pixel;
    color: var(--cordestaque2);
    font-size: 4em;
    margin-top: 300px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px var(--corsombra);
}
#fotos{
    max-width: 1500px;
    min-width: 300px;
    width: 100%;   
    display: inline;

}
#fotos img{
    width: 220px;
    border: 2px solid var(--cordestaque2);
    padding: 5px;
    box-shadow: 3px 3px 3px var(--corsombra);
    margin:20px;
}


#xp h2{
    margin-top: 300px;
    font-size: 4em;
    text-align: center;
    color: var(--cordestaque3);
    text-shadow: 2px 2px 2px var(--corsombra);
    margin-bottom: 25px;
}
#xp img{
    
    width: 80px;
    height: 80px;
    box-shadow: 3px 3px 3px var(--corsombra);
    background-color: #201e1e;
    display: inline;
}
.hab{
    display: inline-block;
    margin: 10px 10px;
    border: 3px solid var(--cordestaque3);
    padding: 5px;
    box-shadow: 2px 2px 2px var(--corsombra);
    
    
}


.moeda{
    width: 10px;

    border: 3px solid var(--cordestaque3);
    display: inline;
    border: none;
    
    
}














article{
    color: white;
    font-size: 1em;
    text-align: justify;
    margin-top: 300px;
}
article h2{
    text-shadow: 3px 3px 3px var(--corsombra);
    color: var(--cordestaque4);
    font-size: 3.5em;
    margin-top: 100px;


}
article p{
    text-indent: 20px;
    text-shadow: 1px 1px 2px var(--corsombra);
    max-width: 500px;
    font-weight: 500px;
    line-height: 30px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    

}
article img{

    border: 2px solid var(--cordestaque4);
    outline: 1px solid white;
    padding: 10px;
    max-width: 400px;
    width: 100%;
    margin-left: 35px;

    


    
}



footer{
    background-color: black;
    color:white;
    text-align: left;
    margin-top: 100px;
    font-size: 0.6em;
    padding-bottom: 20px;
    padding-left: 10px;
}
footer h1{
    font-size: 1em;
}